
.row {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.column,
.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12,
.column-offset-0,
.column-offset-1,
.column-offset-2,
.column-offset-3,
.column-offset-4,
.column-offset-5,
.column-offset-6,
.column-offset-7,
.column-offset-8,
.column-offset-9,
.column-offset-10,
.column-offset-11,
.column-offset-12 {
  flex: 0 0 auto;
}

.column {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.column-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.column-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.column-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.column-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.column-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.column-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.column-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.column-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.column-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.column-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.column-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.column-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.column-offset-0 {
  margin-left: 0;
}

.column-offset-1 {
  margin-left: 8.33333333%;
}

.column-offset-2 {
  margin-left: 16.66666667%;
}

.column-offset-3 {
  margin-left: 25%;
}

.column-offset-4 {
  margin-left: 33.33333333%;
}

.column-offset-5 {
  margin-left: 41.66666667%;
}

.column-offset-6 {
  margin-left: 50%;
}

.column-offset-7 {
  margin-left: 58.33333333%;
}

.column-offset-8 {
  margin-left: 66.66666667%;
}

.column-offset-9 {
  margin-left: 75%;
}

.column-offset-10 {
  margin-left: 83.33333333%;
}

.column-offset-11 {
  margin-left: 91.66666667%;
}

@media only screen and (min-width: $mobile) {
  .column,
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12,
  .column-offset-0,
  .column-offset-1,
  .column-offset-2,
  .column-offset-3,
  .column-offset-4,
  .column-offset-5,
  .column-offset-6,
  .column-offset-7,
  .column-offset-8,
  .column-offset-9,
  .column-offset-10,
  .column-offset-11,
  .column-offset-12 {
    flex: 0 0 auto;
  }

  .row {
      flex-direction: row;
  }

  .column {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .column-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .column-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .column-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .column-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .column-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .column-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .column-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .column-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .column-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .column-offset-0 {
    margin-left: 0;
  }

  .column-offset-1 {
    margin-left: 8.33333333%;
  }

  .column-offset-2 {
    margin-left: 16.66666667%;
  }

  .column-offset-3 {
    margin-left: 25%;
  }

  .column-offset-4 {
    margin-left: 33.33333333%;
  }

  .column-offset-5 {
    margin-left: 41.66666667%;
  }

  .column-offset-6 {
    margin-left: 50%;
  }

  .column-offset-7 {
    margin-left: 58.33333333%;
  }

  .column-offset-8 {
    margin-left: 66.66666667%;
  }

  .column-offset-9 {
    margin-left: 75%;
  }

  .column-offset-10 {
    margin-left: 83.33333333%;
  }

  .column-offset-11 {
    margin-left: 91.66666667%;
  }
}
