table {
    border-collapse: collapse;
    margin: 1rem 0 0.5rem 0;
}

td,
th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    font-size: 0.8em;
}

.table-container {
    max-width: 100%;
    overflow-x: scroll;
}

.box {
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

ul,
ol {
    margin: 0rem 0 1rem 0;
    padding: 0;
    li:first-child {
        margin-top: 1rem;
    }
    li {
        margin-top: 0.25rem;
    }
}

ul {
    list-style: disc inside;

    ul {
        list-style-type: circle;
    }
}

ol {
    list-style: decimal inside;
    ol {
        list-style-type: lower-alpha;
    }
}

figure {
    margin: 0;
    padding: 0.25rem;

    picture {
        img {
            width: 100%;
            height: auto;
        }
    }

    figcaption {
        font-size: 0.75em;
        opacity: 0.75;
        font-style: italic;
        text-align: center;
        margin-bottom: 1rem;
    }
}

picture[style*="--aspect-ratio"]> :first-child {
    width: 100%;
}

picture[style*="--aspect-ratio"]>img {
    height: auto;
}

@supports (--custom:property) {
    picture[style*="--aspect-ratio"] {
        position: relative;
    }

    picture[style*="--aspect-ratio"]::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }

    picture[style*="--aspect-ratio"]> :first-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}

hr {
    height: 2px;
    background-color: black;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1px;
    margin: 1rem 0;
}

.code {
    font-size: 0.85em;
    white-space: nowrap;
}

.pre {
    margin-top: 0;
    padding: 0 0.5rem;
    max-height: 75vh;
    border-radius: 3px;
}

.pre>.code {
    display: block;
    white-space: pre;
}