/* Raster grid subsystem (rsms.me/raster) 

    Extended to support:
    + grid rows
    + sass variables
    + arbitrary number of rows and columns
    
    by Siddharth S. (github.com/siddharthsham) 

*/

$grid-tc: repeat(12, 1fr);
$grid-tr: repeat(12, 1fr);
$col-gap: 1rem;
$row-gap: 1rem;
$grid-cs: 1;
$grid-ce: -1;
$grid-rs: 1;
$grid-re: -1;

r-grid {
  display: grid;
  --grid-tc: #{$grid-tc};
  --grid-tr: #{$grid-tr};
  --col-gap: #{$col-gap};
  --row-gap: #{$row-gap};

  gap: var(--row-gap) var(--col-gap);
  grid-template-columns: var(--grid-tc);
  grid-template-rows: var(--grid-tr);
  --grid-cs: #{$grid-cs};
  /* column start */
  --grid-ce: #{$grid-ce};
    /* column end */
  --grid-rs: #{$grid-rs};
  --grid-re: #{$grid-re};
}

/* r-cell -- cell or column */
r-grid>r-cell {
  display: block;
  appearance: none;
  -webkit-appearance: none
}

r-grid[style*="--col-gap"] {
  --col-gap: var(--col-gap);
}

r-grid[style*="--row-gap"] {
  --row-gap: var(--row-gap);
}

/* Accept arbitrary number of rows and columns */
r-grid[style*="--columns"] {
  --grid-tc: repeat(var(--columns), 1fr)
}

r-grid[style*="--rows"] {
  --grid-tr: repeat(var(--rows), 1fr)
}

/* Fixed column counts: */
r-grid[columns="1"] {
  --grid-tc: repeat(1, 1fr)
}

r-grid[columns="2"] {
  --grid-tc: repeat(2, 1fr)
}

r-grid[columns="3"] {
  --grid-tc: repeat(3, 1fr)
}

r-grid[columns="4"] {
  --grid-tc: repeat(4, 1fr)
}

r-grid[columns="5"] {
  --grid-tc: repeat(5, 1fr)
}

r-grid[columns="6"] {
  --grid-tc: repeat(6, 1fr)
}

r-grid[columns="7"] {
  --grid-tc: repeat(7, 1fr)
}

r-grid[columns="8"] {
  --grid-tc: repeat(8, 1fr)
}

r-grid[columns="9"] {
  --grid-tc: repeat(9, 1fr)
}

r-grid[columns="10"] {
  --grid-tc: repeat(10, 1fr)
}

r-grid[columns="11"] {
  --grid-tc: repeat(11, 1fr)
}

r-grid[columns="12"] {
  --grid-tc: repeat(12, 1fr)
}

/* colspan=start... */
r-grid>r-cell[colspan^="1"] {
  --grid-cs: 1
}

r-grid>r-cell[colspan^="2"] {
  --grid-cs: 2
}

r-grid>r-cell[colspan^="3"] {
  --grid-cs: 3
}

r-grid>r-cell[colspan^="4"] {
  --grid-cs: 4
}

r-grid>r-cell[colspan^="5"] {
  --grid-cs: 5
}

r-grid>r-cell[colspan^="6"] {
  --grid-cs: 6
}

r-grid>r-cell[colspan^="7"] {
  --grid-cs: 7
}

r-grid>r-cell[colspan^="8"] {
  --grid-cs: 8
}

r-grid>r-cell[colspan^="9"] {
  --grid-cs: 9
}

r-grid>r-cell[colspan^="10"] {
  --grid-cs: 10
}

r-grid>r-cell[colspan^="11"] {
  --grid-cs: 11
}

r-grid>r-cell[colspan^="12"] {
  --grid-cs: 12
}

/* colspan=...+width, colspan=...-end */
r-grid>r-cell[colspan$="+1"],
r-grid>r-cell[colspan="1"] {
  --grid-ce: 1
}

r-grid>r-cell[colspan$="+2"],
r-grid>r-cell[colspan$="-1"],
r-grid>r-cell[colspan="2"] {
  --grid-ce: 2
}

r-grid>r-cell[colspan$="+3"],
r-grid>r-cell[colspan$="-2"],
r-grid>r-cell[colspan="3"] {
  --grid-ce: 3
}

r-grid>r-cell[colspan$="+4"],
r-grid>r-cell[colspan$="-3"],
r-grid>r-cell[colspan="4"] {
  --grid-ce: 4
}

r-grid>r-cell[colspan$="+5"],
r-grid>r-cell[colspan$="-4"],
r-grid>r-cell[colspan="5"] {
  --grid-ce: 5
}

r-grid>r-cell[colspan$="+6"],
r-grid>r-cell[colspan$="-5"],
r-grid>r-cell[colspan="6"] {
  --grid-ce: 6
}

r-grid>r-cell[colspan$="+7"],
r-grid>r-cell[colspan$="-6"],
r-grid>r-cell[colspan="7"] {
  --grid-ce: 7
}

r-grid>r-cell[colspan$="+8"],
r-grid>r-cell[colspan$="-7"],
r-grid>r-cell[colspan="8"] {
  --grid-ce: 8
}

r-grid>r-cell[colspan$="+9"],
r-grid>r-cell[colspan$="-8"],
r-grid>r-cell[colspan="9"] {
  --grid-ce: 9
}

r-grid>r-cell[colspan$="+10"],
r-grid>r-cell[colspan$="-9"],
r-grid>r-cell[colspan="10"] {
  --grid-ce: 10
}

r-grid>r-cell[colspan$="+11"],
r-grid>r-cell[colspan$="-10"],
r-grid>r-cell[colspan="11"] {
  --grid-ce: 11
}

r-grid>r-cell[colspan$="+12"],
r-grid>r-cell[colspan$="-11"],
r-grid>r-cell[colspan="12"] {
  --grid-ce: 12
}

r-grid>r-cell[colspan$="-12"] {
  --grid-ce: 13
}

/* connect vars */
r-grid>r-cell[colspan] {
  grid-column-end: span var(--grid-ce)
}

r-grid>r-cell[colspan*="+"],
r-grid>r-cell[colspan*="-"],
r-grid>r-cell[colspan*=".."] {
  grid-column-start: var(--grid-cs)
}

r-grid>r-cell[colspan*="-"],
r-grid>r-cell[colspan*=".."] {
  grid-column-end: var(--grid-ce)
}

r-grid>r-cell[colspan="row"] {
  grid-column: 1 / -1
}

/* for window width <= 768 */
@media only screen and (max-width: 768px) {
  r-grid[columns-s="1"] {
    --grid-tc: repeat(1, 1fr)
  }

  r-grid[columns-s="2"] {
    --grid-tc: repeat(2, 1fr)
  }

  r-grid[columns-s="3"] {
    --grid-tc: repeat(3, 1fr)
  }

  r-grid[columns-s="4"] {
    --grid-tc: repeat(4, 1fr)
  }

  r-grid[columns-s="5"] {
    --grid-tc: repeat(5, 1fr)
  }

  r-grid[columns-s="6"] {
    --grid-tc: repeat(6, 1fr)
  }

  r-grid[columns-s="7"] {
    --grid-tc: repeat(7, 1fr)
  }

  r-grid[columns-s="8"] {
    --grid-tc: repeat(8, 1fr)
  }

  r-grid[columns-s="9"] {
    --grid-tc: repeat(9, 1fr)
  }

  r-grid[columns-s="10"] {
    --grid-tc: repeat(10, 1fr)
  }

  r-grid[columns-s="11"] {
    --grid-tc: repeat(11, 1fr)
  }

  r-grid[columns-s="12"] {
    --grid-tc: repeat(12, 1fr)
  }

  /* colspan-s=start... */
  r-grid>r-cell[colspan-s^="1"] {
    --grid-cs: 1
  }

  r-grid>r-cell[colspan-s^="2"] {
    --grid-cs: 2
  }

  r-grid>r-cell[colspan-s^="3"] {
    --grid-cs: 3
  }

  r-grid>r-cell[colspan-s^="4"] {
    --grid-cs: 4
  }

  r-grid>r-cell[colspan-s^="5"] {
    --grid-cs: 5
  }

  r-grid>r-cell[colspan-s^="6"] {
    --grid-cs: 6
  }

  r-grid>r-cell[colspan-s^="7"] {
    --grid-cs: 7
  }

  r-grid>r-cell[colspan-s^="8"] {
    --grid-cs: 8
  }

  r-grid>r-cell[colspan-s^="9"] {
    --grid-cs: 9
  }

  r-grid>r-cell[colspan-s^="10"] {
    --grid-cs: 10
  }

  r-grid>r-cell[colspan-s^="11"] {
    --grid-cs: 11
  }

  r-grid>r-cell[colspan-s^="12"] {
    --grid-cs: 12
  }

  /* colspan-s=...+width, colspan-s=...-end */
  r-grid>r-cell[colspan-s$="+1"],
  r-grid>r-cell[colspan-s="1"] {
    --grid-ce: 1
  }

  r-grid>r-cell[colspan-s$="+2"],
  r-grid>r-cell[colspan-s$="-1"],
  r-grid>r-cell[colspan-s="2"] {
    --grid-ce: 2
  }

  r-grid>r-cell[colspan-s$="+3"],
  r-grid>r-cell[colspan-s$="-2"],
  r-grid>r-cell[colspan-s="3"] {
    --grid-ce: 3
  }

  r-grid>r-cell[colspan-s$="+4"],
  r-grid>r-cell[colspan-s$="-3"],
  r-grid>r-cell[colspan-s="4"] {
    --grid-ce: 4
  }

  r-grid>r-cell[colspan-s$="+5"],
  r-grid>r-cell[colspan-s$="-4"],
  r-grid>r-cell[colspan-s="5"] {
    --grid-ce: 5
  }

  r-grid>r-cell[colspan-s$="+6"],
  r-grid>r-cell[colspan-s$="-5"],
  r-grid>r-cell[colspan-s="6"] {
    --grid-ce: 6
  }

  r-grid>r-cell[colspan-s$="+7"],
  r-grid>r-cell[colspan-s$="-6"],
  r-grid>r-cell[colspan-s="7"] {
    --grid-ce: 7
  }

  r-grid>r-cell[colspan-s$="+8"],
  r-grid>r-cell[colspan-s$="-7"],
  r-grid>r-cell[colspan-s="8"] {
    --grid-ce: 8
  }

  r-grid>r-cell[colspan-s$="+9"],
  r-grid>r-cell[colspan-s$="-8"],
  r-grid>r-cell[colspan-s="9"] {
    --grid-ce: 9
  }

  r-grid>r-cell[colspan-s$="+10"],
  r-grid>r-cell[colspan-s$="-9"],
  r-grid>r-cell[colspan-s="10"] {
    --grid-ce: 10
  }

  r-grid>r-cell[colspan-s$="+11"],
  r-grid>r-cell[colspan-s$="-10"],
  r-grid>r-cell[colspan-s="11"] {
    --grid-ce: 11
  }

  r-grid>r-cell[colspan-s$="+12"],
  r-grid>r-cell[colspan-s$="-11"],
  r-grid>r-cell[colspan-s="12"] {
    --grid-ce: 12
  }

  r-grid>r-cell[colspan-s$="-12"] {
    --grid-ce: 13
  }

  /* connect vars */
  r-grid>r-cell[colspan-s] {
    grid-column-end: span var(--grid-ce)
  }

  r-grid>r-cell[colspan-s*="+"],
  r-grid>r-cell[colspan-s*="-"],
  r-grid>r-cell[colspan-s*=".."] {
    grid-column-start: var(--grid-cs)
  }

  r-grid>r-cell[colspan-s*="-"],
  r-grid>r-cell[colspan-s*=".."] {
    grid-column-end: var(--grid-ce)
  }

  r-grid>r-cell[colspan-s="row"] {
    grid-column: 1 / -1
  }
}

/* for window width >= 1600 */
@media only screen and (min-width: 1599px) {
  r-grid[columns-l="1"] {
    --grid-tc: repeat(1, 1fr)
  }

  r-grid[columns-l="2"] {
    --grid-tc: repeat(2, 1fr)
  }

  r-grid[columns-l="3"] {
    --grid-tc: repeat(3, 1fr)
  }

  r-grid[columns-l="4"] {
    --grid-tc: repeat(4, 1fr)
  }

  r-grid[columns-l="5"] {
    --grid-tc: repeat(5, 1fr)
  }

  r-grid[columns-l="6"] {
    --grid-tc: repeat(6, 1fr)
  }

  r-grid[columns-l="7"] {
    --grid-tc: repeat(7, 1fr)
  }

  r-grid[columns-l="8"] {
    --grid-tc: repeat(8, 1fr)
  }

  r-grid[columns-l="9"] {
    --grid-tc: repeat(9, 1fr)
  }

  r-grid[columns-l="10"] {
    --grid-tc: repeat(10, 1fr)
  }

  r-grid[columns-l="11"] {
    --grid-tc: repeat(11, 1fr)
  }

  r-grid[columns-l="12"] {
    --grid-tc: repeat(12, 1fr)
  }

  /* colspan-l=start... */
  r-grid>r-cell[colspan-l^="1"] {
    --grid-cs: 1
  }

  r-grid>r-cell[colspan-l^="2"] {
    --grid-cs: 2
  }

  r-grid>r-cell[colspan-l^="3"] {
    --grid-cs: 3
  }

  r-grid>r-cell[colspan-l^="4"] {
    --grid-cs: 4
  }

  r-grid>r-cell[colspan-l^="5"] {
    --grid-cs: 5
  }

  r-grid>r-cell[colspan-l^="6"] {
    --grid-cs: 6
  }

  r-grid>r-cell[colspan-l^="7"] {
    --grid-cs: 7
  }

  r-grid>r-cell[colspan-l^="8"] {
    --grid-cs: 8
  }

  r-grid>r-cell[colspan-l^="9"] {
    --grid-cs: 9
  }

  r-grid>r-cell[colspan-l^="10"] {
    --grid-cs: 10
  }

  r-grid>r-cell[colspan-l^="11"] {
    --grid-cs: 11
  }

  r-grid>r-cell[colspan-l^="12"] {
    --grid-cs: 12
  }

  /* colspan-l=...+width, colspan-l=...-end */
  r-grid>r-cell[colspan-l$="+1"],
  r-grid>r-cell[colspan-l="1"] {
    --grid-ce: 1
  }

  r-grid>r-cell[colspan-l$="+2"],
  r-grid>r-cell[colspan-l$="-1"],
  r-grid>r-cell[colspan-l="2"] {
    --grid-ce: 2
  }

  r-grid>r-cell[colspan-l$="+3"],
  r-grid>r-cell[colspan-l$="-2"],
  r-grid>r-cell[colspan-l="3"] {
    --grid-ce: 3
  }

  r-grid>r-cell[colspan-l$="+4"],
  r-grid>r-cell[colspan-l$="-3"],
  r-grid>r-cell[colspan-l="4"] {
    --grid-ce: 4
  }

  r-grid>r-cell[colspan-l$="+5"],
  r-grid>r-cell[colspan-l$="-4"],
  r-grid>r-cell[colspan-l="5"] {
    --grid-ce: 5
  }

  r-grid>r-cell[colspan-l$="+6"],
  r-grid>r-cell[colspan-l$="-5"],
  r-grid>r-cell[colspan-l="6"] {
    --grid-ce: 6
  }

  r-grid>r-cell[colspan-l$="+7"],
  r-grid>r-cell[colspan-l$="-6"],
  r-grid>r-cell[colspan-l="7"] {
    --grid-ce: 7
  }

  r-grid>r-cell[colspan-l$="+8"],
  r-grid>r-cell[colspan-l$="-7"],
  r-grid>r-cell[colspan-l="8"] {
    --grid-ce: 8
  }

  r-grid>r-cell[colspan-l$="+9"],
  r-grid>r-cell[colspan-l$="-8"],
  r-grid>r-cell[colspan-l="9"] {
    --grid-ce: 9
  }

  r-grid>r-cell[colspan-l$="+10"],
  r-grid>r-cell[colspan-l$="-9"],
  r-grid>r-cell[colspan-l="10"] {
    --grid-ce: 10
  }

  r-grid>r-cell[colspan-l$="+11"],
  r-grid>r-cell[colspan-l$="-10"],
  r-grid>r-cell[colspan-l="11"] {
    --grid-ce: 11
  }

  r-grid>r-cell[colspan-l$="+12"],
  r-grid>r-cell[colspan-l$="-11"],
  r-grid>r-cell[colspan-l="12"] {
    --grid-ce: 12
  }

  r-grid>r-cell[colspan-l$="-12"] {
    --grid-ce: 13
  }

  /* connect vars */
  r-grid>r-cell[colspan-l] {
    grid-column-end: span var(--grid-ce)
  }

  r-grid>r-cell[colspan-l*="+"],
  r-grid>r-cell[colspan-l*="-"],
  r-grid>r-cell[colspan-l*=".."] {
    grid-column-start: var(--grid-cs)
  }

  r-grid>r-cell[colspan-l*="-"],
  r-grid>r-cell[colspan-l*=".."] {
    grid-column-end: var(--grid-ce)
  }

  r-grid>r-cell[colspan-l="row"] {
    grid-column: 1 / -1
  }
}

/* grid rows  */

/* rows */

r-grid[rows="1"] {
  --grid-tr: repeat(1, 1fr)
}

r-grid[rows="2"] {
  --grid-tr: repeat(2, 1fr)
}

r-grid[rows="3"] {
  --grid-tr: repeat(3, 1fr)
}

r-grid[rows="4"] {
  --grid-tr: repeat(4, 1fr)
}

r-grid[rows="5"] {
  --grid-tr: repeat(5, 1fr)
}

r-grid[rows="6"] {
  --grid-tr: repeat(6, 1fr)
}

r-grid[rows="7"] {
  --grid-tr: repeat(7, 1fr)
}

r-grid[rows="8"] {
  --grid-tr: repeat(8, 1fr)
}

r-grid[rows="9"] {
  --grid-tr: repeat(9, 1fr)
}

r-grid[rows="10"] {
  --grid-tr: repeat(10, 1fr)
}

r-grid[rows="11"] {
  --grid-tr: repeat(11, 1fr)
}

r-grid[rows="12"] {
  --grid-tr: repeat(12, 1fr)
}


/* rowspan=start... */
r-grid>r-cell[rowspan^="1"] {
  --grid-rs: 1
}

r-grid>r-cell[rowspan^="2"] {
  --grid-rs: 2
}

r-grid>r-cell[rowspan^="3"] {
  --grid-rs: 3
}

r-grid>r-cell[rowspan^="4"] {
  --grid-rs: 4
}

r-grid>r-cell[rowspan^="5"] {
  --grid-rs: 5
}

r-grid>r-cell[rowspan^="6"] {
  --grid-rs: 6
}

r-grid>r-cell[rowspan^="7"] {
  --grid-rs: 7
}

r-grid>r-cell[rowspan^="8"] {
  --grid-rs: 8
}

r-grid>r-cell[rowspan^="9"] {
  --grid-rs: 9
}

r-grid>r-cell[rowspan^="10"] {
  --grid-rs: 10
}

r-grid>r-cell[rowspan^="11"] {
  --grid-rs: 11
}

r-grid>r-cell[rowspan^="12"] {
  --grid-rs: 12
}

/* rowspan=...+width, rowspan=...-end */
r-grid>r-cell[rowspan$="+1"],
r-grid>r-cell[rowspan="1"] {
    --grid-re: 1
}

r-grid>r-cell[rowspan$="+2"],
r-grid>r-cell[rowspan$="-1"],
r-grid>r-cell[rowspan="2"] {
    --grid-re: 2
}

r-grid>r-cell[rowspan$="+3"],
r-grid>r-cell[rowspan$="-2"],
r-grid>r-cell[rowspan="3"] {
    --grid-re: 3
}

r-grid>r-cell[rowspan$="+4"],
r-grid>r-cell[rowspan$="-3"],
r-grid>r-cell[rowspan="4"] {
    --grid-re: 4
}

r-grid>r-cell[rowspan$="+5"],
r-grid>r-cell[rowspan$="-4"],
r-grid>r-cell[rowspan="5"] {
    --grid-re: 5
}

r-grid>r-cell[rowspan$="+6"],
r-grid>r-cell[rowspan$="-5"],
r-grid>r-cell[rowspan="6"] {
    --grid-re: 6
}

r-grid>r-cell[rowspan$="+7"],
r-grid>r-cell[rowspan$="-6"],
r-grid>r-cell[rowspan="7"] {
    --grid-re: 7
}

r-grid>r-cell[rowspan$="+8"],
r-grid>r-cell[rowspan$="-7"],
r-grid>r-cell[rowspan="8"] {
    --grid-re: 8
}

r-grid>r-cell[rowspan$="+9"],
r-grid>r-cell[rowspan$="-8"],
r-grid>r-cell[rowspan="9"] {
    --grid-re: 9
}

r-grid>r-cell[rowspan$="+10"],
r-grid>r-cell[rowspan$="-9"],
r-grid>r-cell[rowspan="10"] {
    --grid-re: 10
}

r-grid>r-cell[rowspan$="+11"],
r-grid>r-cell[rowspan$="-10"],
r-grid>r-cell[rowspan="11"] {
    --grid-re: 11
}

r-grid>r-cell[rowspan$="+12"],
r-grid>r-cell[rowspan$="-11"],
r-grid>r-cell[rowspan="12"] {
    --grid-re: 12
}

r-grid>r-cell[rowspan$="-12"] {
    --grid-re: 13
}


/* connect vars */
r-grid>r-cell[rowspan] {
    grid-row-end: span var(--grid-re)
}

r-grid>r-cell[rowspan*="+"],
r-grid>r-cell[rowspan*="-"],
r-grid>r-cell[rowspan*=".."] {
    grid-row-start: var(--grid-rs)
}

r-grid>r-cell[rowspan*="-"],
r-grid>r-cell[rowspan*=".."] {
    grid-row-end: var(--grid-re)
}

r-grid>r-cell[rowspan="row"] {
    grid-row: 1 / -1
}

/* .debug can be added to a r-grid to visualize its effective cells */
r-grid.debug>* {
  --color: rgba(248, 110, 91, 0.3);
  background-image:
    linear-gradient(to bottom, var(--color) 0%, var(--color) 100%);
}

r-grid.debug> :nth-child(6n+2) {
  --color: rgba(103, 126, 208, 0.3)
}

r-grid.debug> :nth-child(6n+3) {
  --color: rgba(224, 174, 72, 0.3)
}

r-grid.debug> :nth-child(6n+4) {
  --color: rgba(77, 214, 115, 0.3)
}

r-grid.debug> :nth-child(6n+5) {
  --color: rgba(217, 103, 219, 0.3)
}

r-grid.debug> :nth-child(6n+6) {
  --color: rgba(94, 204, 211, 0.3)
}

r-grid.debug> :nth-child(6n+7) {
  --color: rgba(248, 110, 91, 0.3)
}