// helpers stolen from Bulma css

.is-hidden {
    display: none !important;
}

.is-sr-only {
    border: none !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 0.01em !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 0.01em !important;
}

@media screen and (max-width: $mobile) {
    .is-hidden-mobile {
        display: none !important;
    }
}

@media screen and (min-width: $tablet),
print {
    .is-hidden-tablet {
        display: none !important;
    }
}

@media screen and (min-width: $tablet) and (max-width: $desktop) {
    .is-hidden-tablet-only {
        display: none !important;
    }
}

@media screen and (max-width: $desktop) {
    .is-hidden-touch {
        display: none !important;
    }
}

@media screen and (min-width: $desktop) {
    .is-hidden-desktop {
        display: none !important;
    }
}

@media screen and (min-width: $desktop) and (max-width: $widescreen) {
    .is-hidden-desktop-only {
        display: none !important;
    }
}

@media screen and (min-width: $widescreen) {
    .is-hidden-widescreen {
        display: none !important;
    }
}

@media screen and (min-width: $widescreen) and (max-width: $fullhd) {
    .is-hidden-widescreen-only {
        display: none !important;
    }
}

@media screen and (min-width: $fullhd) {
    .is-hidden-fullhd {
        display: none !important;
    }
}