h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: $serif-font, serif;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: min(calc(3rem + 0.75vw), 6rem);
    margin:  calc(0.5rem + 2vh)  0 calc(0.25rem + 1vh) 0;
}

h2 {
    font-size: min(calc(2.5rem + 0.75vw), 5rem);
    margin: calc(0.5rem + 1.75vh) 0 calc(0.25rem + 0.75vh) 0;
}

h3 {
    font-size: min(calc(2.15rem + 0.75vw), 4rem);
    margin: calc(0.5rem + 1.5vh) 0  calc(0.25rem + 0.5vh) 0;
}

h4 {
    font-size: min(calc(1.75rem + 0.75vw), 3rem);
    margin: calc(0.5rem + 1.25vh)0 calc(0.25rem + 0.75vh) 0;
}

h5 {
    font-size: min(calc(1.5rem + 0.75vw), 2rem);
    margin: calc(0.5rem + 1vh) 0 calc(0.25rem + 0.75vh) 0;
}

h6 {
    font-size: min(calc(1.25rem + 0.75vw), 1.75rem);
    margin: calc(0.5rem + 0.75vh) 0  calc(0.25rem + 0.75vh) 0;
}

body {
    font-size: min(calc(0.75rem + 0.75vw), 2.5rem);
    margin: calc(0.25rem + 1vh) 0 calc(0.5rem + 2vh) 0;
    line-height: 1.5;
    font-family: $sans-font, sans-serif;
    font-weight: 400;
}

a,
ins,
u {
  text-decoration-skip: ink edges;
}

.size-1 {
    font-size: 3.25rem;
}
.size-2 {
    font-size: 2.75rem;
}
.size-3 {
    font-size: 2.5rem;
}
.size-4 {
    font-size: 2.15rem;
}
.size-5 {
    font-size: 1.75rem;
}
.size-6 {
    font-size: 1.5rem;
}
.size-7 {
    font-size: 1.25rem;
}

a {
    transition: color .2s, border-bottom .2s;
    color: $link-dark;
    text-decoration: none;
    border-bottom: solid $link-dark 2px;
    border-radius: 1px;
    width: fit-content;

    &:link, &:visited {
        color: $link-dark;
    }

    &:hover {
        color: $link-light;
        border-bottom: solid $link-light 2px;
    }

    &:active {
        transition: color .2s;
        color: $link-mid;
    }
}

p {
    margin: 1rem 0 1rem 0;
}

blockquote {
    font-style: italic;
    position: relative;
    margin: 1rem 1rem 1rem 0;
    padding-left: 2rem;
    &::before {
        content: '';
        width: 2px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: black;
        border-radius: 2px;
    }
}

strong, .title {
    font-weight: 800;
}

.title {
    font-family: $sans-font;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.font-bold {
    font-weight: bold;
}

.font-light {
    font-weight: 200;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.scale-text {
    font-size: calc(1em - (1vw/5));
}

.is-family-sans-serif {
    font-family: $sans-font;
}

.is-family-serif {
    font-family: $serif-font;
}